
html {
    font-family: sans-serif;
}
.page-group {
    display: block;
    margin: auto;
    max-width: 640px;
    position: relative;
}
.content{background:#fff;}
body{
	font-family:Verdana,Arial,Tahoma;font-size:0.6rem;
overflow-wrap: break-word;
color: #24292e;
}
a{color:#777;}
.button{padding:0}
ul {list-style: outside none none;margin:0;}
.theme-dark .searchbar::after{
background-color:transparent
}
.theme-dark .searchbar{
	background:transparent none repeat scroll 0 0
}

.category_menu ul{padding:0;font-size:0.75rem;}
.category_menu ul  li {
    padding-left: 0;
}
.category_menu ul li ul li{padding:0.3em 0 0 1em;}
.category_menu ul li ul{font-size:0.7rem;}

.category_menu ul li ul .icon-right{float:left;font-size:0.4rem;margin-top:1em;}

.list-block {
    font-size: 0.7rem;
}
.product_name{
	padding:0px;height:3em;
	overflow:hidden;font-size:0.6rem;
	
}
.product_name a{
	color:#777;
}
.panel-left a{color:#ccc;}

.content-block {
    color: #6d6d72;
    margin: 0.15rem 0;
    padding: 0 0.75rem;
}
.category_menu > ul{margin-top:0.1rem}


.list-block .item-inner{padding-left:0.9rem;}
.list-block {
    margin: 0.75rem 0;
}
h1{font-size:1em;color:#333;font-weight:100;}
.category_description{padding:0.4rem 0.6rem; display:none}
 .popup-overlay.modal-overlay-visible{display:none}

.filter_attr_info a {
    background: rgba(0, 0, 0, 0) url("../img/checkbox.png") no-repeat scroll -69px 1px;
    font-size: 0.8em;
    padding: 0 0 0 16px;
}
.filter_attr_info a.checked {
    background-position: -50px -19px;
}

.closeBtn {
    background-image: url("../img/tag.png");
    background-position: -164px 7px;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    height: 20px;
    vertical-align: -5px;
    width: 20px;
}

.repository-lang-stats-graph {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: currentcolor #ddd #ddd;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    cursor: pointer;
    display: table;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
* {
    box-sizing: border-box;
}
*::placeholder {
    color: #6a737d;
}
*::-moz-placeholder {
    color: #6a737d;
}

.content-block .filter_attr_title {
    border-bottom: 1px solid #ddd;
    color: #333;
    font-family: Arial;
    font-size: 0.9em;
    margin: 5px 0;
    padding: 5px 0;
    text-transform: uppercase;
}

.close_popup{ 
    font-size: 1.2em;
    position: absolute;
    right: 1rem;
    top: 0.2rem;
}

a{font-size:0.8em;}
#panel-left-menu .category_menu a{font-size:0.9em;}
#panel-left-account a{font-size:0.9em;;}

.clear{clear:both}

.category_page .open-sort{float:left;}

.category_page .open-filter{float:right;}

.category-open{
	border: 1px solid #e5e5e5;
    border-radius: .17rem;
    font-size:0.6rem;
    text-align: center;
    color: #666;
	padding:0.1rem 1rem;
}

.category_description h1{text-align:center;font-weight:100;font-size:0.9em}
.category-open .icon{font-size:0.4rem;}
.sort_filter{margin-top:0.4rem;margin-bottom:-0.2rem;}
.media_img_content{max-width:400px;margin:auto;}
.product_view{padding:0 1rem;}

.item_code{margin-right:0;}
.product_info h1{ font-size: 0.6rem;
    font-weight: 100;
    margin-bottom: 0;}

.swiper-container{padding-bottom: 5px;}
.price_info {
    margin: 10px 0 0;
}


.product_info .price_info .special_active {
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

.product_info .special_price {
    color: #cc0000;
    font-size: 25px;
}


.product_info .price_info .price.special_active {
    margin: 3px 0 0 3px;
    text-decoration: line-through;
}

.product_info_section {
    margin: 5px 0 15px;
}


.product_options {
    margin: 0.4rem 0 0;
}
.product_options .label {
    line-height: 49px;
}
.pg .label {
   float: left;
    font-size: 0.5rem;
    width: 2.4rem;
}


.product_options .pg .rg {
    width: auto;
}



.product_options .rg li {
    color: #333;
    cursor: pointer;
    float: left;
    margin: 5px;
    position: relative;
    text-align: center;
}



.product_options a.active, .product_options a.active_v {
    border: 1px solid #777;
}

.product_options a {
    display: block;
    float: left;
    height: 49px;
    padding: 1px;
    width: 44px;
	line-height:49px;
}

.product_options a.current {
    border: 1px solid #cc0000;
}
.rg .qty{margin-left:4px;}


.product_options li.current b {
    background: rgba(0, 0, 0, 0) url("../img/cur.png") no-repeat scroll 0 0;
    bottom: 0;
    display: block;
    height: 6px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 8px;
}

.addtocart a{
	margin-top: 0.5rem;
}
.button-success.button-fill{background-color:#fe585e;color:#fff}

.addtocart .addProductToFavo{
	 background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #777;
    
	
}
.product_description_info{min-height:300px;width:100%;overflow:hidden;margin-top:0.55rem;}
.product_description_info .content-block{padding-top:0.24rem;}
.chose_size a {
    border: 1px solid #ccc;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    width: 35px;
}

.product_options a.noimgshow {
     font-size: 11px;
    height: 44px;
    line-height: 44px;
    min-width: 15px;
    padding: 0px;
	text-align:center;
}


.product_options a.no_active {
    border: 1px dashed #ccc;
    cursor: not-allowed;
}

.product_qty .label{line-height:1.3rem;}

.button.button-fill.addProductToCart{height:1.55rem;line-height:1.55rem;}

.product_description_info .buttons-tab a{font-size:0.55rem;}

.text-description , .text-reviews , .text-questions{font-size:0.6rem;}
.tier_price_info{margin:0.5rem 0 1rem;color:#333;}
.tier_price_info table{width:100%;color:#777;}
.buy_also_buy_cer{padding: 0 1rem;}

.tier_price_info table{font-size: 0.56rem;}
.buy_also_buy	.scroll_left{
	border-bottom: 1px solid #ddd;
   
    margin: 15px 0 5px;
    padding: 5px 0;
    text-transform: uppercase;
}
.buy_also_buy	.scroll_left a{color: #333;font-size: 0.9em; font-family: Arial;}

.buttons-tab .button{height: 1.6rem;
    line-height: 1.6rem;}


.review_star_5 {
    background: rgba(0, 0, 0, 0) url("../img/Star_5.png") no-repeat scroll 0 0;
}
.review_star_4 {
    background: rgba(0, 0, 0, 0) url("../img/Star_4.png") no-repeat scroll 0 0;
}
.review_star_3 {
    background: rgba(0, 0, 0, 0) url("../img/Star_3.png") no-repeat scroll 0 0;
}
.review_star_2 {
    background: rgba(0, 0, 0, 0) url("../img/Star_2.png") no-repeat scroll 0 0;
}
.review_star_1 {
    background: rgba(0, 0, 0, 0) url("../img/Star_1.png") no-repeat scroll 0 0;
}
.review_star_0 {
    background: rgba(0, 0, 0, 0) url("../img/Star_0.png") no-repeat scroll 0 0;
}
.review_star {
    display: block;
    height: 15px;
    width: 69px;
}
.product-Reviews_top ul{padding-left:0}
.review_description_left a{display:block;}
.review_description_left p{ display:block;float:left;margin: 0.3rem 1rem 0.3rem 0}
.review_description_left span{display:block;float:right;margin: 0.3rem 0 0.3rem  0}
.review_description_right_span b{font-weight:100;}





.buttons-row .button{
	
	border-color:#ccc;
	font-size:0.55rem;
}



.average_rating {
    float: left;
}

.rbc_cold .review_star {
    display: block;
    float: left;
    height: 15px;
    margin: 0rem 0rem 0 0.4rem;
    text-align: right;
    width: 85px;
}
.rbc_cold{margin-top:0.22rem;}
.rbc_cold , .item_code{color:#777;}
.item_sku{color:#555;}

.product-image{
	 display: block;
    margin-top: 0.5rem;
	
}
.product-image img{width:100%;height:auto;}

.cart_info {}
.cart_info a{color:#555;}
.cart_info  h2.product-name{
	font-size:0.7rem;
	margin:1px 0 4px;
	font-weight: 100;
}
.cart_info ul {padding-left:1px;}
.cart_info ul li{font-size:0.5rem;color:#777;}

.cart-price{
 color: #cc0000;
    font-size: 0.6rem;
}

.cartqtydown {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    border-top: 1px solid #ccc;
    float: left;
    font-size: 0.7rem;
    height: 20px;
    line-height: 18px;
    text-align: center;
    width: 22px;
}

.cart_info .qty {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    float: left;
    height: 20px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    width: 20px;
}

.cartqtyup {
    border-bottom: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    float: left;
    font-size: 0.7rem;
    height: 20px;
    line-height: 18px;
    text-align: center;
    width: 20px;
}
.cart_qty{width:80px;}
.cart_qty a{
	background:#fff;
}

.btn-remove span{
	font-size: 1.1rem;
   
}

a.btn-remove {
	bottom: 1rem;
    position: absolute;
    right: 2rem;
}
.cart_info .row{
	position:relative;
	border-bottom:1px solid #e5e5e5;
	padding:0.5rem 0 1rem;
}
.cart{background:#fff;}
.row .col-80{margin-left:2%}
.cart_info .row .col-25{padding:1rem 0 1rem 0.1em}

.cart_info .row .col-75{padding:1rem 0;}

.col-70 .product-name{width:60%;}

.shopping-cart-img{
		text-align:center;font-size:0.7rem;padding:0.4rem 0;
	background:#fff;
	border-bottom:1px solid #e5e5e5;
	margin-bottom:0.6rem;
}

.cart_info .options  li{float:left;margin-right:1rem;}

.cart_info .product-name a {
    color: #555;
    display: block;
    height: 0.7rem;
    overflow: hidden;
}


#coupon_code {
    border-color: #ccc currentcolor #ccc #ccc;
    border-radius: 0;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    font-size: 0.8rem;
    height: 1.24rem;
    width: 100%;
}
.discount-form .input-box .ui-input-text {
    border-radius: 2px 0 0 2px;
    border-right: medium none;
}
.discount-form .buttons-coupon {
    float: right;
    width: 40%;
}

.discount-form .input-box {
    float: left;
    width: 60%;
}

.discount-form .buttons-coupon .ui-shadow {
    box-shadow: none;
}
.discount-form .buttons-coupon a {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 0 2px 2px 0;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.ui-btn {
     -moz-user-select: none;
    cursor: pointer;
    display: block;
    font-size: 0.6rem;
    
    overflow: hidden;
    padding: 0.2em 1em;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#discount-coupon-form h2{font-size:0.6rem;}
.cart-collaterals{padding:0.2rem 0.4rem;min-height:17.5rem;}
.cart_cost{margin-top:1rem;}
.cart_cost .row.no-gutter .col-80{text-align:right;padding-right:1rem;}
.cart_cost .row.no-gutter{
padding-top: 0.2rem;
}

a.express_paypal{
	background: #ffc63e;
	border-color: #ffc63e;
	display: block;
    height: 2.17rem;
    line-height: 2.17rem;
    overflow: hidden;
    padding: 0 0.83rem;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
	padding:0 0.5rem;
	width:100%;
	border-radius: 0.17rem;
}
a.express_paypal img{max-height:70px;height:100%;width:100%;max-width:260px;}

.cart-totals{margin:1rem 0}


.btn-proceed-checkout{
	  background-color: #f90;
    border-color: #f90;
	display: block;
	font-size:0.7rem;
    height: 2.17rem;
    line-height: 2.17rem;
    overflow: hidden;
    padding: 0 0.83rem;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
	padding:0 0.5rem;
	width:100%;
	border-radius: 0.17rem;
	color:#fff;
}

.proceed_to_checkout .row.no-gutter .col-50{padding:0.2rem}

.header_logo img{width:5rem; margin-top: 0.68rem;}

.col-20 a img{width:100%}
.review_lists{background:#fff;min-height:700px;padding:0.5rem;}

.review_lists .product_info .price_info .special_active{
	font-size:0.6rem;
	margin:0  0.5rem 0 0;
}



.review_lists .price_info{margin:0;}

.review_lists  .review_cart{padding:0 0.2rem;font-size:0.55rem;}

.product-reviews{
	padding:0 0.2rem;font-size:0.7rem;
}

.review_lists   .button-danger.button-fill {
    background-color: #4cd964;
}

.review_lists   .row .col-50{margin-left:0;}

.review_lists  .review_cart .content-block{margin:1rem 0}

.fec-card-header , .fec-card-content , .fec-card-footer{
	border-bottom: 1px solid #eaeaea;
    padding: 0.4rem 0.6rem;
	color:#333;
	
}
.fec-card-header{font-weight:bold}
.fec-card-content{color:#333;}
.review_title{margin-left:0.5rem;}
.review_list_remark{font-size:0.5rem;color:#777}

.review_list_product{margin-left:0.5rem;}


.review_add{padding:1rem 0 1rem 0.4rem;}


.review_add .product_info  .price_info .special_active {
    font-size: 0.6rem;
    margin: 0 0.5rem 0 0;
}


.review_add .price_info {
    margin: 0;
}


.h-30 {
    height: 30px;
}


.lh30_f {
    float: left;
    line-height: 30px;
}


.product-description_em {
    color: #cc0000;
    font: 17px/12px Segoeui,Arial,Verdana,serif;
    margin: 0 3px;
}

.star_ul {
    display: inline;
    height: 30px;
}


.star_ul li {
    float: left;
}


.star_1, .star_2, .star_3, .star_4, .star_5 {
    background: rgba(0, 0, 0, 0) url("../img/product_rating_big_blank_star.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}
.full_star {
    background: rgba(0, 0, 0, 0) url("../img/product_rating_big_full_star.png") repeat scroll 0 0;
}


.product-Reviews_bottom .list-block .item-content{background:#fff;}

.login-captcha{
	
	
}
.login-captcha img {
    float: left;
    height: 25px;
}


.product-Reviews_bottom .item-content .login-captcha input {
    border: 1px solid #ccc;
    display: block;
    float: left;
    height: 25px;
    margin-right: 5px;
    width: 80px;
}

.login-captcha{width:100%}

.icon-refresh{
    border: 1px solid #ddd;
    color: #777;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 0.7rem;
    height: 25px;
    line-height: 24px;
    margin-left: 1px;
    text-align: center;
    width: 25px;
}
.product-Reviews_bottom  .lh30_f{width:100%}

.product-Reviews_bottom  .list-block .item-title.label{width:25%;}

.list-block .item-inner {
    padding-left: 0.1rem;
}

.product-Reviews_bottom .list-block  ul li  input
,.product-Reviews_bottom .list-block  ul li  textarea{
	font-size:0.6rem;
}

.review_submit{padding-left:0.9rem;margin-top:1rem;}
.review_submit button{font-size: 0.6rem;
    line-height: 0.9rem;
    padding: 0.2rem 1rem 0.4rem;
	}


.product-Reviews_bottom  .list-block{margin-top:0}
.product-Reviews_bottom{min-height:500px;}

.error-msg {
    margin:3px 0;
	background: #faebe7 url("../img/i_msg-error.gif") no-repeat scroll 8px 4px;
    border: 1px solid #f16048;
    color: #df280a;
    font-size: 0.8em;
    padding: 5px 30px;
	margin:0.4rem 1rem;
}
.correct-msg {
    margin:3px 0;
	background: #eff5ea url("../img/i_msg-success.gif") no-repeat scroll 8px 4px;
    border: 1px solid #95a486;
    color: #3d6611 ;
    font-size: 0.8em;
    padding: 5px 30px;
	margin:0.4rem 1rem;
}

.list-block .item-link .item-inner{margin-left:0rem;padding-left:1rem;}
.list-block .item-content{padding-left:0}

.account-top-m{background:#fff;}

.account-top-m .icon-left{font-size:0.7rem;}

.account-ds .account_footer{ text-align: center;margin: 30px 0 200px;}
.account-ds .account_footer a {
    font-size: 0.7rem;
}
.account-ds a{font-size:0.7rem;}

.js_registBtn{}
.list-block .item-title.label{width:25%;}

.list-block input[type="text"], .list-block input[type="password"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block input[type="search"], .list-block select, .list-block textarea{
	font-size:0.6rem;
}
.customer-login .buttons-set , .customer-login .third_login{
	margin:0.8rem;
}

#login-form .item-input .login-captcha-input{width:30%;float:left;}
#login-form .item-input .login-captcha-img{width:130px;float:left; margin-top: 0.4rem;}

#login-form .icon-refresh{
	 font-size: 0.9rem;
    height: 1.2rem;
    line-height: 1.2rem;
    margin: 0.4rem 0 0 0.2rem;
    padding: 0;
    width: 1.2rem;
}
.shopping-cart-img a.f-right{float:right; 
    color: #0894ec;
    line-height: 1.2rem;
    position: absolute;
    right: 1rem;
}


.button.button-fill.button-bbb{
	background: #bbb none repeat scroll 0 0;
   
}


.account-ds .button-bbb {
    margin: 1rem 1rem 10rem;
    text-align: center;
}




