#header .headerNav a:hover{text-decoration:none;color:#ddd}

table.list .selected{background-color:#eee}
table.list .hover{
    background-color:#fafafa
}
.gird .gridTbody .hover{
    background-color:#fafafa
}

.productimg tr td input{width:100px;}

.pageHeader form table tr td input{margin-left:4px; height:18px;     min-width: 100px;}


.pageFormContent p.edit_p span{
    padding: 0 5px;
    line-height: 21px;
    color:#333;
}

.pageFormContent p.edit_p{
    margin:5px 0 10px;
    
}
.pageFormContent p.edit_p label{
    color:#333;
}
.pageFormContent p.edit_p span input{
    width:200px;
}
.pageFormContent p.edit_p select, .pageFormContent p.edit_p input {
    color:#333;
    margin-left:5px;
}
.store_langs{
    float: right;
    right: 70px;
    position: absolute;
    margin: 5px 0 0;
    font-size: 10px;
}

.pagination li.jumpto{
    display:none;
}



.panelBar .pages span{
    float: left;
    line-height: 26px;
    margin: 3px 5px;
}

.dialog .dialogHeader, .dialog .dialogHeader_r,.dialog .dialogHeader_c{
    background: #fff
}

.dialog .dialogContent{
    background: #fff;
    border:none;
}

.tabs .tabsContent, .tabs .tabsFooterContent,  .resizable_f_c,  .tabs, .tabs .tabsHeader, .tabs .tabsHeaderContent, .tabs .tabsHeader ul, .tabs .tabsHeader li,.tabs .tabsHeader li a , .tabs .tabsHeader li span {
    background: #fff;
}


.tabs .tabsHeader li.selected {
    border-top: 1px solid #b8d0d6;
    border-left: 1px solid #b8d0d6;
    border-right: 1px solid #b8d0d6;
    border-bottom: none;
}    

.tabs .tabsHeader li{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:  1px solid #b8d0d6;
}

.tabs .tabsHeader{
    border-bottom:  2px solid #eaeaea;
}

.dialog .formBar{
    border:none;
}

.dialog .pageContent{
    border:none;
}

table.list thead tr{background:#fff}

.custom_option_list table thead tr th{
    background: #fff;
}

.tier_price table tfoot tr td a{
    margin:10px 0 0 
}

.alert .alertContent, .alert .alertFooter_c, .alert .alertFooter_r, .alert .alertFooter{
    background: #fff;
    border:none;
}

#alertMsgBox{
    border:1px solid #ccc;
}

.category-product-list .panelBar{
    width:100%;
}

.fa-trash-o{
    cursor:pointer;
}

.dialogBackground{
        position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
}

fieldset{
    padding:3px 5px 10px 3px;
}

.grid .gridCol{
    font-weight:100;
}
.accordion .accordionHeader h2 span {
    background: none;
    display: none;
}

.edit_p{
    position: relative;
}

span.error{
    width:51px;
}

.panelBar .toolBar a{
    background-color: #409eff;
    border: 1px solid #409eff;
    background-image: none;
    color: #fff;
    padding: 2px 10px;
    border-radius: .25rem;
}

.panelBar li{overflow:inherit}

.panelBar .toolBar a:hover{
       background: rgb(59, 146, 236)
    }

 .panelBar .toolBar li.hover a{
    background-color: rgb(59, 146, 236);
    border: 1px solid  rgb(59, 146, 236);
    background-image: none;
    color: #fff;
    border-radius: .25rem;
        float: none;
    display: inline-block;
    height: auto;
    padding: 2px 10px;
    line-height: auto;
    cursor: pointer;
    
    
 }

.panelBar .toolBar span, .panelBar .toolBar li.hover span{
   
}

.panelBar .toolBar li, .panelBar .toolBar li.hover{
    background:none;
}
.page .panelBar{padding:10px 0}

#layout #sidebar{
    background: #20222A;
    left:0px;
    border:none;
    padding-top:0px;
}
#sidebar  .accordion {
    background: rgb(48, 65, 86);
    padding-left:10px;
}

#sidebar  .tree ul{
    background: #20222A;
}

#sidebar  .tree .selected{
    background: none;
}

#sidebar  .tree .selected{
    background: none;
}

#sidebar  .tree  > li > ul > li > div:hover{
    background: #001528!important;
}


#sidebar .tree li .selected a{
    color:rgb(64, 158, 255)
}

#sidebar .tree li a, #sidebar .tree li span {
    color: #ddd;
    font-size:14px;
    font-weight:400;
}

#sidebar  .accordion .accordionHeader h2{
    color:#ddd;
    height: 40px;
    line-height: 40px;
    font-size:14px;
    font-weight:400;
}

#sidebar  .toggleCollapse h2{
    color:#ddd;
}

#sidebar  .tree .hover{
    background:none;
}

#sidebar  .tree .hover a{
    color:#fff;
}

#sidebar .tree .folder_collapsable, #sidebar .tree .folder_expandable, #sidebar .tree .file{
    background:none;
}

#sidebar .tree div div{
    background:none;
}

#sidebar{
    width:220px;
}


#splitBar{
    width:0px;
}

#container{
    left:220px;
}

.page.unitBox{
    
}

#leftside , #container{
    top:0px;
}

#container  .page.unitBox {
    border: none;
}


#container .tabsPageHeader{
    border-bottom: 1px solid #b8d0d6;
}


body .tabsPage .tabsPageContent{
    background:#fff;
}

.tabsPage .tabsPageContent::-webkit-scrollbar {/*滚动条整体样式*/
            width: 1px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 1px;
        }
        .tabsPage .tabsPageContent::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 1px;
            -webkit-box-shadow: inset 0 0 1px  #b8d0d6;
            background:  #b8d0d6;
        }
        .tabsPage .tabsPageContent::-webkit-scrollbar-track {/*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 1px  #b8d0d6;
            border-radius: 0;
            background:  #b8d0d6;
        }

.accordion .accordionContent{
    background-color:#1f2d3d!important;
    border:none;
    padding-top:5px;
}

#layout #sidebar .tree ul{
    background:none;
}

#sidebar .toggleCollapse h2{
    font-size: 25px;
    font-weight: 100;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    width: 100%;
}
#sidebar .toggleCollapse{
    height:60px;
}

#sidebar .tree .first_collapsable, #sidebar .tree .collapsable, #sidebar .tree .last_collapsable{
    float:right;
    content: '';
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 40%;
    right: 13px;
    margin-top: -1px;
    border-width: 6px;
    border-top-color: rgba(255,255,255,.7);
}
body .background{
    opacity: 0;
}

#sidebar .tree .first_expandable, #sidebar .tree .expandable, #sidebar .tree .last_expandable{
    
    content: '';
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 40%;
    right: 13px;
    margin-top: -4px;
    border-width: 6px;
    border-top-color: rgba(255,255,255,.7);
    
    /* border-style: dashed dashed solid; */
    border-color: transparent transparent #fff;
    
}


#sidebar .accordion .accordionHeader h2{
    position:relative
}


.accordion .accordionHeader h2 span.first_collapsable{
    display:block;
    float:right;
    content: '';
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 40%;
    right: 13px;
    margin-top: -1px;
    border-width: 6px;
    border-top-color: rgba(255,255,255,.7);
}

.accordion .accordionHeader h2.collapsable span.first_collapsable{
    content: '';
    width: 0;
    height: 0;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s;
    -webkit-transition: all .2s;
    position: absolute;
    top: 40%;
    right: 13px;
    margin-top: -4px;
    border-width: 6px;
    border-top-color: rgba(255,255,255,.7);
    
    /* border-style: dashed dashed solid; */
    border-color: transparent transparent #fff;
}




.accordionContent .treeFolder > li > div {
    position: relative;
}

#sidebar .tree li a{
    height: 40px;
    line-height: 40px;
    padding-left: 25px;
    padding-right: 10px;
}

.tree div, .tree a, .tree span{
    height: auto;
}


.accordion .accordionHeader{
    height: 40px;
    line-height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.accountInfo{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    width: 96%;
}


#container .tabsPage .tabsPageHeader{
    height: 40px;
}

#container .tabsPage .tabsPageHeaderContent{
    height: 40px;
}

#container .tabsPage .tabsPageHeader ul{
    height: 40px;
}

#container .tabsPage .tabsPageHeader li, #container  .tabsPage .tabsPageHeader li a, #container  .tabsPage .tabsPageHeader li span{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-top:0;
    color:#777;
}

#container  .tabsPage .tabsPageHeader li span:hover{
    color:#555;
}

.tabsPage .tabsPageHeader li.selected a{
    font-weight:500;
    color: #97a8be;
}

.layui-icon {
    font-family: layui-icon!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    padding: 5px;
    right: 10px;
    top: 12px;
    color: #fff;
    cursor: pointer;
}


.alert .error .alertInner{
    border-color: none;
    background: none;
}
.alert .correct .alertInner, .alert .info .alertInner { 
    border-color: none;
    background: none;
    border-width: 0;
}
.alert .confirm .alertInner {
    border-color: none;
    background: none;
    border-width: 0;
}
.alert .warn .alertInner{
    border-color: none;
    background: none;
    border-width: 0;
}
.alert .alertContent{
    border:none;
    border-width: 0;
}

.searchContent{
    float: left;
}
.searchBar .subBar {
    height: 25px;
    float: right;
    margin: 6px 20px 0 0;
}

.upload-image{
    margin: 10px 0 0;
    background: #409eff;
    border: none;
    color: #fff;
    border-radius: .25rem;
    height: 20px;
    padding: 0 19px;
}

.upload-image span{
    color: #fff;
}

.upload-image:hover{
    opacity:0.8
}

.grid .gridHeader th.hover, .grid .gridHeader th.thSelected{ 
    border-color: #409eff
}


.btnEdit:hover .fa-pencil:before{
    color: #009688;
}

.btnDel:hover .fa-trash-o:before {
    color: #009688;
}

.btnEdit:hover .fa-copy:before, .btnEdit:hover  .fa-files-o:before {
    color: #009688;
}

.pageContent .panelBar{
    border-color:#eee;
}

.dialog .pageContent .pageFormContent{
    border-color: #ccc;
}


fieldset legend {
        padding: 2px;
    border: 1px dotted #aaa;
    font-weight: 500;
    color:#999;
}

.dialog .pageFormContent, .dialog .viewInfo{
    border-color: #ccc;
}

#sidebar .accordionContent::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#sidebar  .accordionContent::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    /*滚动条里面小方块*/
    border-radius   : 10px;
    background-color: skyblue;
    background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
    );
}
#sidebar  .accordionContent::-webkit-scrollbar-track {/*滚动条里面轨道*/
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #ededed;
    border-radius: 10px;
}
html body .grid .gridTbody .selected {
    background-color: #ddd;
}


.xhe_vista .xheIframeArea{
    height:280px !important;
}


.pageContent.systemConfig{
    background:#fff;
}


.tabsPage .tabsPageHeader  .navTab-tab  li .close{display:none;}

body .pageHeader form table tr td input:focus{
    border-color:rgb(70, 161, 254)
}

.pageHeader form table tr td input:hover{
    border-color:#aaa
}


body .combox .select a:focus{
    border-color:rgb(70, 161, 254)
}

.combox .select a:hover{
    border-color:#aaa
}

.combox .select a {
    padding: 0 22px 0 6px;
    line-height: 30px;
    height: 30px;
    background-position: 99% -47px;
    width: auto;
}






















