#header .headerNav a:hover{text-decoration:none;color:#ddd}

table.list .selected{background-color:#eee}
table.list .hover{
    background-color:#fafafa
}
.gird .gridTbody .hover{
    background-color:#fafafa
}

.productimg tr td input{width:100px;}

.pageHeader form table tr td input{margin-left:4px;}


.pageFormContent p.edit_p span{
    padding: 0 5px;
    line-height: 21px;
    color:#333;
}

.pageFormContent p.edit_p{
    margin:5px 0 10px;
    
}
.pageFormContent p.edit_p label{
    color:#333;
}
.pageFormContent p.edit_p span input{
    width:200px;
}
.pageFormContent p.edit_p select, .pageFormContent p.edit_p input {
    color:#333;
    margin-left:5px;
}
.store_langs{
    float: right;
    right: 70px;
    position: absolute;
    margin: 15px 0 0;
    font-size: 10px;
}

.pagination li.jumpto{
    display:none;
}



.panelBar .pages span{
    float: left;
    line-height: 26px;
    margin: 0px 5px;
}

.dialog .dialogHeader, .dialog .dialogHeader_r,.dialog .dialogHeader_c{
    background: #fff
}

.dialog .dialogContent{
    background: #fff;
    border:none;
}

.tabs .tabsContent, .tabs .tabsFooterContent,  .resizable_f_c,  .tabs, .tabs .tabsHeader, .tabs .tabsHeaderContent, .tabs .tabsHeader ul, .tabs .tabsHeader li,.tabs .tabsHeader li a , .tabs .tabsHeader li span {
    background: #fff;
}


.tabs .tabsHeader li.selected {
    border-top: 1px solid #b8d0d6;
    border-left: 1px solid #b8d0d6;
    border-right: 1px solid #b8d0d6;
    border-bottom: none;
}    

.tabs .tabsHeader li{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:  1px solid #b8d0d6;
}

.tabs .tabsHeader{
    border-bottom:  1px solid #b8d0d6;
}

.dialog .formBar{
    border:none;
}

.dialog .pageContent{
    border:none;
}

table.list thead tr{background:#fff}

.custom_option_list table thead tr th{
    background: #fff;
}

.tier_price table tfoot tr td a{
    margin:10px 0 0 
}

.alert .alertContent, .alert .alertFooter_c, .alert .alertFooter_r, .alert .alertFooter{
    background: #fff;
    border:none;
}

#alertMsgBox{
    border:1px solid #ccc;
}

.category-product-list .panelBar{
    width:100%;
}

.fa-trash-o{
    cursor:pointer;
}

.dialogBackground{
    background:#ddd;
}

fieldset{
    padding:3px 5px 10px 3px;
}

.grid .gridCol{
    font-weight:100;
}
.accordion .accordionHeader h2 span {
    background: none;
    display: none;
}

.edit_p{
    position: relative;
}

span.error{
    width:51px;
}

.panelBar .toolBar a{
    background-color: #eee;
    border: 1px solid #ccc;
    background-image:none;
}

 .panelBar .toolBar li.hover a{
    background-color: #ddd;
    border: 1px solid #bbb; 
    background-image:none;
 }

.panelBar .toolBar span, .panelBar .toolBar li.hover span{
    height:21px;
    background-image:none;
}

.panelBar .toolBar li, .panelBar .toolBar li.hover{
    background:none;
}

